.cart-history{
    /* background: rgba(255, 153, 0, 0.3);
    height: 100%; */
    position: sticky;
    top: 0;
    font-size: 12px;
}
    
.btn-all{
    width: 100%;
    background: #512c2c;
    padding: 10px;
    border: 0;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: all linear .5s;
}
.btn-all:hover{
    opacity: .7;
    background: orange;
}